body{ background-color: beige;}
#nav{
    background-color:rgb(216, 124, 19);
    border: black ;
}
#logo{ 
    height: 75px;
    width: auto;
    border-radius: 30%;
}
.navbar-brand{ font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding: 1%;
font-size: x-large;
color: black;
}
.nav-link{
  color: black;
}

#navbarNav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    justify-content: flex-end;
    margin-right: 25px;
}
.btn{
    margin: 0px;
    margin-left: 7px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5%;
}







h2 {
  margin-top: 0;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.form-select,
.form-control {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid black;
}

.btn-primary {
  background-color: #e18700;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease-in-out;
}

.btn-primary:hover {
  background-color: #1a1a1a;
}
